*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

.wrapper{
    width: 100%;
    position: relative;
        
}
.portfolio{
    height: 100vh;
    width: 100%;

}
.content-container{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow:auto;
    scrollbar-width: none;
}
.navbar{
    z-index: 2;
    height: 10vh;
    width: 100%;
    font: 1em sans-serif;
    font-weight: 100;
    background-color: black;
    position: fixed;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.home{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
}

.home h1{
    font-size: 200px;
    font-weight: 550;
    color: rgb(216, 87, 87);
    font-family: sans-serif;
    display: flex;
    background-color: black;
}
.home h3{
    font-family: 'Buffalo', sans-serif;
    display: flex;
    color: white;
    align-items: center;
    position: absolute;
    font-size: 100px;
    font-weight: 400;
    top: 55%;
}
.home h2{
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 75%;

}
.about{
    margin-top: 1px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 30px; 
    background-color: black;  
}
.contentbox{
    width: 100%;
    height: 100%;
    position: relative;
}
.contentbox img{
    width: 50%;
    height: 100%;
}
.upper h2{
    font-family: sans-serif;
    font-size: 90px;
    color: white;
    padding-left: 20px;
    font-weight: 500;
    position: absolute;
    left: 60%;
    top: 33%;

}
.upper h1{
    font-family: 'Buffalo', sans-serif;
    font-size: 90px;
    color: rgb(216, 87, 87);
    border-color: black;
    font-weight: 300;
    position: absolute;
    top: 43%;
    left: 70%;
    font-style: italic;
}
.lower{
    width: 40%;
    height: 40%;
    padding-left: 20px;
    position: absolute;
    left: 55%;
    top: 60%;
    
}
.lower h4{
    text-align: start;
    font-family: sans-serif;
    color: rgb(181, 177, 177);
        text-align: center;


}
.contact{
    height: 25%;
    width: 100%;
    position: absolute;
    top: 201%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 20px;
}
.contact .box{
    width: 10%;
    height: 70%;
    background-color: rgb(216, 87, 87);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.box i{
    font-size: 50px;
}
.box h5{
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: sans-serif;
    padding-top: 2px;
}
